/* Write your global styles here, in PostCSS syntax */
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color:#060a0e;
}

.pixelFont {
    font-family: 'Press Start 2P', cursive;
}